
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/


appsettings.Development.json
secrets.json


*.csproj.vspscc
*.vssscc
.DS_Store